      <p>{{ NUMRESULTS }} Treffer</p>
      <ol id="searchhits-list">
        {% for v in visits %}
          {% if v is None %}
            <li>-- next group: --</li>      
          {% else %}
            <li>
              <b>{{ v.familyname }}, {{ v.givenname }}</b>,
              {{ v.phone }}/{{ v.email }} 
                ({{ v.zipcode }} {{ v.town }})<br>
              {{ v.present_from_dt|date:"Y-m-d" }}
                {{ v.present_from_dt|date:"H:i" }}&ndash;{{ v.present_to_dt|date:"H:i" }} @
                {{ v.seat.room.room }}, {{ v.seat.room.building }}, 
                {{ v.seat.room.department }}, {{ v.seat.room.organization }}
                
            </li>  
          {% endif %}
        {% endfor %}
      </ol>
