{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1>FAQ</h1>

  <div the-toc></div>
  
<div toc-content>
  <hr>
  <h2 id="allgemein">1. Allgemein / General</h2>
  
  
  <h3>
    1.1 Warum nicht einfach die Corona-Warn-App nehmen? / 
    Why not just use the Corona Warn App?
  </h3>
  <p>
    <span class="languagemark">DE</span>:
    Geschwindigkeit.
    Zum Unterbrechen der Infektionsketten muss man mögliche Infizierte
    warnen, bevor sie unwissentlich wiederum jemanden infizieren.
    Die Corona-Warn-App schickt Warnungen erst nach einem positiven Testergebnis.
    a.nwesen.de erlaubt hingegen, auch schon bei dem Verdacht einer Infektion
    die Kontaktpersonen vorzuwarnen, also ein oder zwei wertvolle Tage früher.
  </p>
  <p>
    <span class="languagemark">EN</span>:
    Speed.
    For breaking infection chains, one has to warn possibly-infected persons
    before they themselves unwittingly infect somebody else.
    The Corona Warn App sends warnings only once a positive Corona test result
    has been confirmed.
    a.nwesen.de, in contrast, also allows to warn contact persons when somebody
    only suspects an infection -- one or two invaluable days earlier.
  </p>


  <h3>
    1.2 Warum nicht einfach die Luca-App nehmen? / 
    Why not just use the Luca app?
  </h3>
  <p>
    <span class="languagemark">DE</span>:
    <ol>
      <li>Die Luca-App verlangt eine App auf dem Telefon 
        (a.nwesen.de braucht nur einen Webbrowser).<br>
        Eine App macht Schwierigkeiten bei Studierenden mit sehr alten Telefonen, 
        Speicher voll oder ganz ohne Telefon --
        die bei a.nwesen.de problemlos eines kurz leihen können. 
      </li>
      <li>Die Luca-App kennt nur Räume, keine Sitzplätze. 
        Das führt zu einer unnötig groben Betrachtung.<br> 
        a.nwesen.de arbeitet hingegen sitzplatzgenau und weist in der
        Kontakteliste Abstände aus.
      </li>
      <li>Und vor allem: 
        Die Luca-App benachrichtigt nur im Infektionsfall, 
        nicht auch im Verdachtsfall.<br>
        Mit a.nwesen.de lässt sich das flexibel handhaben und damit wertvolle 
        Zeit für eine Vorwarnung der Kontaktpersonen einsparen.
      </li>
    </ol>
  </p>
  <p>
    <span class="languagemark">EN</span>:
    <ol>
      <li>The Luca app needs an app, not just the web browser. 
      </li>
      <li>The Luca app is room-based, while a.nwesen.de is seat-based
        and computes a distance to the infected person.
        This leads to a potentially more granular handling of contacts.
      </li>
      <li>And most importantly:
        The Luca app notifies for confirmed infections only.<br>
        With a.nwesen.de, the data are available for suspected infections as
        well, giving more flexibility who to warn how and when.
      </li>
    </ol>
  </p>


  <h3>
    1.3 Was sind die Datenschutz-Risiken? / What are the privacy implications?
  </h3>
  <p>
    <span class="languagemark">DE</span>:
    Siehe die Diskussion im 
    <a href="https://github.com/prechelt/anwesende/blob/master/README.md">README, Abschnitt 2</a>.
  </p>
  <p>
    <span class="languagemark">EN</span>:
    See the discussion (in German language only) in 
    <a href="https://github.com/prechelt/anwesende/blob/master/README.md">README, Section 2</a>.
  </p>


  <h3>
    1.4 Das braucht meine Hochschule auch! / We need this at my university!
  </h3>
  <p>
    <span class="languagemark">DE</span>:
    Kein Problem.
    Die Software ist Open Source (F/OSS), zum Betrieb braucht man nur einen einzigen
    recht moderaten Server; siehe die Anleitung im 
    <a href="https://github.com/prechelt/anwesende/blob/master/README.md">README.md, Abschnitt 4</a>.
  </p>
  <p>
    <span class="languagemark">EN</span>:
    The software is designed for German-speaking administrators
    and students speaking German or English and with the 
    German CoVid-19 regulations in mind.
    It is as agnostic as possible with respect to these regulations, 
    so it could be useful in many other countries as well. <br>
    Taking these two aspects together, it is likely useful in the
    German-language area (Germany, Austria, much of Switzerland). <br>
    That said, the software is F/OSS open source and deployment is not difficult,
    see the instructions in the
    <a href="https://github.com/prechelt/anwesende/blob/master/README.md">README.md, Section 4</a>.
  </p>


  <hr>
  <h2 id="besucher">2. Für Raumbesucher_innen / For Room Visitors</h2>
  
  
  <h3 id="smartphone">
    2.1 Ich habe kein Smartphone / I don't have a smartphone
  </h3>
  <p>
    <span class="languagemark">DE</span>:
    Bitte kurz eines von eine_mr Mitstudierenden ausleihen.
    Wenn man eine private Browsersitzung benutzt, werden die Daten
    nicht auf dem Gerät gespeichert. <br>
    Man kann auch den URL manuell auf einem Notebook-Rechner eintippen.
  </p>
  <p>
    <span class="languagemark">EN</span>:
    Please borrow one.
    If you use <i>private browsing</i> mode, your data will not be stored
    on that device. <br>
    Or type the URL into your browser on a notebook computer.
  </p>

  
  <h3 id="eduroam">
    2.2 Ich habe keinen Netzempfang / I don't have network connectivity
  </h3>
  <p>
    <span class="languagemark">DE</span>:
    Wahrscheinlich hat der Lehrraum ein 'eduroam'-WLAN.
    Dort können Sie sich mit Ihrem Hochschulaccount anmelden.
    Fragen Sie nötigenfalls andere im Raum, wie das geht.
  </p>
  <p>
    <span class="languagemark">EN</span>:
    Presumably your teaching room has 'eduroam' WLAN.
    You can connect to it using your university account.
    Ask others in your room if you aren't sure how that works!
  </p>

  
  <h3 id="zeiten">
    2.3 Ich gehe früher oder später weg als ich angegeben habe / 
    I'm leaving before or after the end time I gave upon registration 
  </h3>
  <p>
    <span class="languagemark">DE</span>:
    Wenn es mehr als 10 Minuten später ist: Bitte nochmal registrieren! <br>
    Ansonsten ist das nicht schlimm; allenfalls könnte man dadurch ganz selten
    eine unnötige Infektionswarnung bekommen.
  </p>
  <p>
    <span class="languagemark">EN</span>:
    If you leave more than 10 Minutes later: Please register again! <br>
    Otherwise, this is not a problem. In the worst case, you may get
    an unnecessary warning later.
  </p>

  <h3 id="platzwechsel">
    2.4 Ich bin zwischendurch an einem anderen Sitzplatz /
    I'll also spend some time at a different seat
  </h3>
  <p>
    <span class="languagemark">DE</span>:
    Dann bitte auch dort registrieren, 
    mit einem Zeitraum von 15 Minuten oder mehr.
    Es kommt darauf an, alle Kontakte in den Daten abzubilden und lieber
    ein paar zu viel (die gar nicht stattgefunden haben) als zu wenig.
  </p>
  <p>
    <span class="languagemark">EN</span>:
    Then please register for that other seat as well and provide a 
    time frame of at least 15 Minutes.
    The goal must be that the data capture all contacts that have happened.
    It is not a big problem if we capture a few additional ones that 
    have not really happened.
  </p>

  
  <h3 id="vergessen">
    2.5 Ich habe vorhin vergessen, mich zu registrieren /
    I forgot to register earlier today
  </h3>
  <p>
    <span class="languagemark">DE</span>:
    Wenn Sie noch die Zeiten wissen und ungefähr den Sitzplatz,
    gehen Sie bitte möglichst zu dem Sitzplatz und holen Sie die Registrierung 
    nach. Das geht allerdings nur für den selben Tag.
  </p>
  <p>
    <span class="languagemark">EN</span>:
    If you know the time and roughly know the seat, please go there and
    register now. This is possible only for the same day, though.
  </p>

  
  <h3 id="spiegelung">
    2.6 Der QR-Code spiegelt, ich kann ihn nicht scannen! /
    I cannot scan the QR code due to reflections
  </h3>
  <p>
    <span class="languagemark">DE</span>:
    Wählen Sie einen flacheren Winkel für die Aufnahme, so dass
    die Reflektion von etwas Dunklerem kommt, z.B. einer Wand oder
    Ihrem eigenen Körper.
  </p>
  <p>
    <span class="languagemark">EN</span>:
    Direct the camera in a flatter angle so that the reflection comes
    from something darker, such as a wall or your own body.
  </p>


  <h3 id="daten-weg">
    2.7 Ich muss meine Daten jedes Mal von vorn eingeben! /
    I need to input all my data from scratch each time
  </h3>
  <p>
    <span class="languagemark">DE</span>:
    Dann löscht ihr Browser das Cookie, das von a.nwesen.de abgelegt wird
    und aus dem es die Daten wieder abrufen würde.
    Benutzen Sie nicht den privaten Browsingmodus.
    Richten Sie eine entsprechende Ausnahme für den Server ein,
    der Ihnen das Formular anzeigt,
    falls Sie Browsereinstellungen zum Cookies-Löschen haben.
  </p>
  <p>
    <span class="languagemark">EN</span>:
    This happens if your browser deletes the cookie in which a.nwesen.de
    stores the data from which to pre-fill the form.
    Do not use private browsing mode.
    If you use browser settings to delete cookies, add an exception for
    the server that displays the registration form.
  </p>


  <hr>
  <h2 id="einheiten">3. Für Raumverwalter_innen / For Room Administration staff (German only)</h2>
  
  <p>
    Raumverwalter_innen heißen hier die Personen, die an einer Hochschuleinheit
    für die Organisation der Anwesenheitserfassung zuständig sind,
    sowie für die Meldungen an das Gesundheitsamt und ggf. eigene 
    (Vor)Warnaktivitäten an die Kontaktpersonen einer infizierten oder
    möglicherweise infizierten Person.
  </p>
  
  
  <h3 id="raeumemelden">
    3.1 Wie funktioniert der Prozess?
  </h3>
  <p>
    <ul>
      <li>Ein_e Raumverwalter_in übermittelt der Datenverwalter_in eine Liste von Räumen
        und Sitzplätzen. (Einzelheiten siehe auf der Seite 
        '<a href="/import">import</a>')
      </li>
      <li>
        Die Raumverwalter_in erhält als Antwort eine PDF-Datei mit einem QR-Code für
        jeden Sitzplatz (Einzelheiten siehe Frage 3.2 unten)
        und klebt den QR-Code dauerhaft am zugehörigen Sitzplatz auf.
      </li>
      <li>
        Über diese QR-Codes erfassen nun die Raumbesucher_innen ihre 
        Anwesenheit an einem bestimmten Sitzplatz in einem bestimmten Raum.
      </li>
      <li>
        Wird der Raumverwalter_in eine Infektion oder ein Infektionsverdacht gemeldet,
        fragt sie bei der Datenverwalter_in die Anwesenheitsdaten für die
        Kontaktgruppen (selber Raum) der betreffenden Person im passenden Zeitfenster 
        (z.B. 3 Tage) ab,
        um sie dem Gesundheitsamt zu übermitteln oder ggf. eine sinnvoll
        nach eigenen Kriterien daraus ausgewählte Teilmenge von genügend eng
        erscheinenden Kontakten direkt zu warnen.
      </li>
    </ul>
  </p>

  
  <h3 id="sitzplaetze">
    3.2 Wie funktioniert die Abstandsberechnung?
  </h3>
  <p>
    a.nwesen.de gibt zu jeder Kontaktperson einen ungefähren Abstand 
    von der infizierten Person an.<br>
    Dieser basiert auf der Annahme, dass die Sitzplätze in einem Raster
    von <var>row_dist</var> Höhe (Reihenabstand) mal <var>seat_dist</var> Breite (seitlicher
    Sitzabstand) angeordnet sind 
    (Sitz 'r1s2' steht z.B. für Reihe 1, Sitz 2; <var>row_dist</var> und <var>seat_dist</var>
    können für jeden Raum separat festgelegt werden und wären für normalen
    Corona-Sicherheitsabstand beide 1,5m). 
    Dies muss eine vorsichtige Annahme sein,
    d.h. tatsächlich müssen die Sitzplätze <i>mindestens</i> so weit 
    auseinander liegen.<br>
    Bei Sitzen, die nicht in einem solchen Raster angeordnet sind, muss man
    entsprechend "runden" und/oder Sitzplatznummern weglassen, um die
    beste Annäherung zu erreichen. Beispiel für einen Seminarraum mit 
    lose verschieblichen Tischen:
  </p>
  <p><img src="{% static 'images/seatname-example.png' %}" style="width: 25rem"></p>
  <p>
    Hier wurden also die verschobenen Sitzreihen nach links ins Raster
    eingeordnet und die Sitznummern r1s1, r1s3, r1s4, r3s4 und r5s4
    einfach weggelassen (d.h. diese QR-Codes wurden weggeworfen statt aufgeklebt).
  </p>
  <p>
    Zu der Frage, wie man mit den daraus errechneten Abstandsangaben weiter verfährt,
    verhält sich die Software neutral; das muss jede Hochschule
    selbst entscheiden.
  </p>


  <h3 id="abstandsupdate">
    3.3 Wir haben QR-Codes für 1,5m Abstand geklebt, aber jetzt wollen wir doch alle Plätze nutzen!
  </h3>
  <p>
    Es gibt drei Möglichkeiten (Szenarios), damit umzugehen: 
  </p>
  <ol>
    <li>
      <strong>Vorhandene QR-Codes mehrfach nutzen:</strong><br>
      <em>Grundidee: </em>
      Mehrere Besucher_innen, die nah beieinander sitzen, nutzen den selben QR-Code
      und haben in den Daten dann scheinbar den Abstand Null. 
      <br>
      <em>Beispiel: </em>
      Ein Seminarraum ist in Corona-Manier für 12 Personen bestuhlt
      (4 Reihen zu je 3 Tischen; 1 Person pro Tisch) 
      und soll jetzt mit voller Kapazität für 40 Personen bestuhlt werden
      (5 Reihen zu je 4 Tischen; 2 Personen pro Tisch).<br>
      Man erzeugt die QR-Codes neu mit <var>seat_last</var> als <var>r5s4</var> (statt <var>r4s3</var>)
      und klebt auf die neu wieder hinzugeholten Tische nur je 1 Code
      auf wie auf die bisherigen auch: <var>r1s4</var> bis <var>r4s4</var> für die neuen Tische
      ganz rechts und <var>r5s1</var> bis <var>r5s4</var> für die neue letzte Reihe.  
      Die bisherigen Tische werden nach links und vorne zusammengerückt.<br>
      Die beiden Besucher_innen, die zusammen am selben Tisch sitzen,
      scannen beide den selben Code.
    </li>
    <li>
      <strong>Gleiche QR-Codes mehrfach aufkleben:</strong><br>
      <em>Grundidee: </em>
      Mehrere Besucher_innen, die nah beieinander sitzen, nutzen den gleichen QR-Code,
      der dafür auf jedem Platz identisch ein weiteres Mal aufgeklebt ist.
      Auch diese Besucher_innen haben in den Daten dann scheinbar den Abstand Null. 
      <br>
      <em>Beispiel: </em>
      In einem Hörsaal funktioniert das Verfahren 1 nicht gut, da man
      die Bestuhlung nicht zusammenschieben kann.
      Wenn aber z.B. zwischen benachbarten Codes je zwei Plätze und eine
      ganze Reihe frei bleiben, kann man aber den gleichen Code von Platz <var>r1s1</var>
      auf diese fünf bislang leer gebliebenen Plätze zusätzlich aufkleben,
      so dass jede_r Besucher_in einen eigenen (wenn auch nicht einmaligen)
      Code vor sich hat und das Gedränge ausbleibt, das sich andernfalls
      beim Versuch des sechsfachen Scannens einstellen würde.
    </li>
    <li>
      <strong>QR-Codes ganz neu vergeben:</strong><br>
      <em>Grundidee: </em>
      Vorhandene QR-Codes werden entfernt und komplett neue statt dessen
      aufgebracht.
      <br>
      <em>Beispiel: </em>
      Während der zweifach genutzte Code im Seminarraum (Szenario 1) noch
      ganz vernünftig anmutet, 
      bedeutet ein sechsfach (oder gar neunfach) genutzter Code im Hörsaal
      (Szenario 2) eine starke Vergröberung der Daten.
      Für den Fall ist es vorzuziehen, die vorhandenen Codes zu
      entfernen und eine ganz neue Serie von QR-Codes zu verkleben, bei
      denen jeder Platz einen einmaligen Code erhält.
      Da der zusätzliche Klebeaufwand auch bei bloßem Nachkleben schon 
      erheblich ist, lässt sich die Mehrarbeit verschmerzen.
    </li>
  </ol>
  <p>
    <strong>Alle drei Verfahren haben gemeinsam</strong>, 
    dass man die Excel-Datei für die
    Erzeugung der QR-Codes dieses Raumes ein weiteres Mal einliest und zwar
    mit exakt identischen Werten für
    <var>organization</var>, <var>department</var>, <var>building</var> und 
    <var>room</var>, denn schon bei
    der kleinsten Abweichung entsteht aus Sicht der Software ein separater
    Raum und wenn man solche Codes mit alten Codes mischt, gehören die
    Besucher_innen anschließend verschiedenen Kontaktgruppen an!).<br>
    Aber die Werte von <var>row_dist</var> und <var>seat_dist</var> werden 
    passend zugefügt
    (im Szenario 2 mit ca. 1,5m, bei 1 und 3 mit kleineren Werten), 
    der Wert von <var>seat_last</var> wird angepasst. 
  </p>
  <hr>
  <h2 id="datenverwalter">4. Für Datenverwalter_innen / For Datenverwalters (German only)</h2>
  
  
  <h3>
    4.1 Was ist meine Aufgabe?
  </h3>
  <p>
    <ul>
      <li>
        Den Berechtigten (meist den Raumverwalter_innen) nach Anfragen 
        im Infektions(verdachts)fall zügig
        Suchergebnisse zurückzuschicken.
      </li>
      <li>
        Nur den Berechtigten Zugang zu den Daten zu geben. 
        (Wer sind die? Z.B. könnte die Hochschulleitung eine Liste zur 
        Verfügung stellen und dann könnten die Berechtigten
        zusätzliche Ersatzpersonen benennen.)
      </li>
      <li>
        Das Know-How zu haben, wie man richtig Suchanfragen stellt (siehe unten).
      </li>
      <li>
        Zuvor beim Anlegen der Räume und Sitzplätze für einheitliche 
        Benennungen der Hochschulen (organization),
        Hochschuleinheiten (department) und Gebäude (building)
        zu sorgen.
      </li>
    </ul>    
  </p>

  
 <h3>
    4.2 Wie viele Datenverwalter_innen braucht man?
  </h3>
  <p>
    Ungefähr drei, damit jederzeit eine_r davon greifbar ist, 
    auch bei Urlaub oder Krankheit.<br>
    Diese haben eine gemeinsame Emailadresse und stimmen sich untereinander ab,
    wer von ihnen gerade die Anfragen bearbeitet.
  </p>
  
  
  <h3>
    4.3 Ich bekomme zu viele Suchergebnisse
  </h3>
  <p>
    Die wirksamsten Suchbegriffe sind in der Regel die Emailadresse (email)
    oder der Nachname (familyname).<br>
    Hingegen benutzt man department, building oder room so gut wie nie.
  </p>

  
  <h3>
    4.4 Ich bekomme zu wenige Suchergebnisse
  </h3>
  <p>
    <ul>
      <li>
        Jedes Merkmal muss zugleich zutreffen.
        Wenn ein Merkmal nicht benutzt werden soll, muss deshalb im
        betreffenden Suchfeld ein <kbd>%</kbd> eingetragen sein.
        (Sonst sucht man nach einem leeren Eintrag,
        aber leere Einträge gibt es nicht.)
      </li>
      <li>
        Es kommt auf jedes einzelne Zeichen an!
        Wenn ein oder mehrere Zeichen nicht sicher sind, 
        dafür ein <kbd>%</kbd> einsetzen.
        Z.B. für den Nachnamen <kbd>Großmann</kbd> 
        (der vielleicht <kbd>Grossmann</kbd> oder
        <kbd>Grohsmann</kbd> heißen muss) <kbd>Gro%mann</kbd> eingeben.
      </li>
      <li>
        Das Datum muss im Format <kbd>jjjj-mm-tt</kbd> angegeben werden, 
        also z.B. <kbd>2021-05-30</kbd>.
      </li>
      <li>
        Telefonnummern sind knifflig, weil sie zusätzliche Leerzeichen u.ä.
        enthalten könnten. 
        Man kann dagegen zwischen alle Ziffern Prozentzeichen stellen
        und zur Abfrage von <kbd>1234</kbd> eingeben <kbd>%1%2%3%4%</kbd>.
      </li>
      <li>
        Vielleicht hat die Besucher_in <kbd>ALLES IN GROSBUCHSTABEN</kbd> oder
        <kbd>alles in kleinbuchstaben</kbd> eingegeben?
      </li>
    </ul>    
  </p>

</div>
  
{% endblock content %}

{% block javascript %}

  {{ block.super }}
  <script src="{% static 'js/table-of-contents.js' %}"></script>
  <script>
    tableOfContents('[toc-content]', '[the-toc]');
  </script>
  
{% endblock javascript %}
