{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1>FAQ</h1>

  <div the-toc></div>
  
<div toc-content>
  <hr>
  <h2 id="allgemein">1. Allgemein / General</h2>
  
  <h3>
    1.1 Warum nicht einfach die Corona-Warn-App nehmen? / 
    Why not just use the Corona Warn App?
  </h3>
  <p>
    <span class="languagemark">DE</span>:
    Geschwindigkeit.
    Zum Unterbrechen der Infektionsketten muss man mögliche Infizierte
    warnen, bevor sie unwissentlich wiederum jemanden infizieren.
    Die Corona-Warn-App schickt Warnungen erst nach einem positiven Testergebnis.
    a.nwesen.de erlaubt hingegen, auch schon bei dem Verdacht einer Infektion
    die Kontaktpersonen vorzuwarnen, also ein oder zwei wertvolle Tage früher.
  </p>
  <p>
    <span class="languagemark">EN</span>:
    Speed.
    For breaking infection chains, one has to warn possibly-infected persons
    before they themselves unwittingly infect somebody else.
    The Corona Warn App sends warnings only once a positive Corona test result
    has been confirmed.
    a.nwesen.de, in contrast, also allows to warn contact persons when somebody
    only suspects an infection -- one or two invaluable days earlier.
  </p>


  <hr>
  <h2 id="besucher">2. Für Raumbesucher_innen / For Room Visitors</h2>
  
  <h3>
    2.1 Ich habe kein Smartphone / I don't have a smartphone
  </h3>
  <p>
    <span class="languagemark">DE</span>:
    Bitte kurz eines von eine_mr Mitstudierenden ausleihen.
    Wenn man eine private Browsersitzung benutzt, werden die Daten
    nicht auf dem Gerät gespeichert. <br>
    Man kann auch den URL manuell auf einem Notebook-Rechner eintippen.
  </p>
  <p>
    <span class="languagemark">EN</span>:
    Please borrow one.
    If you use <i>private browsing</i> mode, your data will not be stored
    on that device. <br>
    Or type the URL into your browser on a notebook computer.
  </p>

  <h3>
    2.2 Ich gehe früher oder später weg als ich angegeben habe / 
    I'm leaving before or after the end time I gave upon registration 
  </h3>
  <p>
    <span class="languagemark">DE</span>:
    Wenn es mehr als 10 Minuten später ist: Bitte nochmal registrieren! <br>
    Ansonsten ist das nicht schlimm; allenfalls könnte man dadurch ganz selten
    eine unnötige Infektionswarnung bekommen.
  </p>
  <p>
    <span class="languagemark">EN</span>:
    If you leave more than 10 Minutes later: Please register again! <br>
    Otherwise, this is not a problem. In the worst case, you may get
    an unnecessary warning later.
  </p>

  <h3>
    2.3 Ich bin zwischendurch an einem anderen Sitzplatz /
    I'll also spend some time at a different seat
  </h3>
  <p>
    <span class="languagemark">DE</span>:
    Dann bitte auch dort registrieren, 
    mit einem Zeitraum von 15 Minuten oder mehr.
    Es kommt darauf an, alle Kontakte in den Daten abzubilden und lieber
    ein paar zu viel (die gar nicht stattgefunden haben) als zu wenig.
  </p>
  <p>
    <span class="languagemark">EN</span>:
    Then please register for that other seat as well and provide a 
    time frame of at least 15 Minutes.
    The goal must be that the data capture all contacts that have happened.
    It is not a big problem if we capture a few additional ones that 
    have not really happened.
  </p>

  <h3>
    2.4 Ich habe vorhin vergessen, mich zu registrieren /
    I forgot to register earlier today
  </h3>
  <p>
    <span class="languagemark">DE</span>:
    Wenn Sie noch die Zeiten wissen und ungefähr den Sitzplatz,
    gehen Sie bitte möglichst zu dem Sitzplatz und holen Sie die Registrierung 
    nach. Das geht allerdings nur für den selben Tag.
  </p>
  <p>
    <span class="languagemark">EN</span>:
    If you know the time and roughly know the seat, please go there and
    register now. This is possible only for the same day, though.
  </p>


  <hr>
  <h2 id="einheiten">3. Für Raumverwalter_innen / For Room Administration staff (German only)</h2>
  
  <h3>
    3.1  / 
    
  </h3>
  <p>
    <span class="languagemark">DE</span>:
  
  </p>
  <p>
    <span class="languagemark">EN</span>:
  
  </p>

  <h3>
    3.2  / 
    
  </h3>
  <p>
    <span class="languagemark">DE</span>:
  
  </p>
  <p>
    <span class="languagemark">EN</span>:
  
  </p>

  <h3>
    3.3  /  
    
  </h3>
  <p>
    <span class="languagemark">DE</span>:
  
  </p>
  <p>
    <span class="languagemark">EN</span>:
  
  </p>


  <hr>
  <h2 id="datenverwalter">4. Für Datenverwalter_innen / For Datenverwalters (German only)</h2>
  
  <h3>
    4.1  / 
    
  </h3>
  <p>
    <span class="languagemark">DE</span>:
  
  </p>
  <p>
    <span class="languagemark">EN</span>:
  
  </p>

  <h3>
    4.2  / 
    
  </h3>
  <p>
    <span class="languagemark">DE</span>:
  
  </p>
  <p>
    <span class="languagemark">EN</span>:
  
  </p>

  <h3>
    4.3  / 
    
  </h3>
  <p>
    <span class="languagemark">DE</span>:
  
  </p>
  <p>
    <span class="languagemark">EN</span>:
  
  </p>

  <h3>
    4.4  / 
    
  </h3>
  <p>
    <span class="languagemark">DE</span>:
  
  </p>
  <p>
    <span class="languagemark">EN</span>:
  
  </p>

  <h3>
    4.5  / 
    
  </h3>
  <p>
    <span class="languagemark">DE</span>:
  
  </p>
  <p>
    <span class="languagemark">EN</span>:
  
  </p>

  <h3>
    4.6  / 
    
  </h3>
  <p>
    <span class="languagemark">DE</span>:
  
  </p>
  <p>
    <span class="languagemark">EN</span>:
  
  </p>

</div>
  
{% endblock content %}

{% block javascript %}

  {{ block.super }}
  <script src="{% static 'js/table-of-contents.js' %}"></script>
  <script>
    tableOfContents('[toc-content]', '[the-toc]');
  </script>
  
{% endblock javascript %}