{% extends "base.html" %}

{% block content %}
  <h1>a.nwesen.de</h1>

  {% if request.user.is_authenticated %}
    <ul>
      <li>
        <a href="{% url 'room:import' %}">QR-Codes erzeugen</a>
      </li>
      <li>
        <a href="{% url 'room:search' %}">Nach Personen suchen</a>
      </li>
    </ul>
  {% endif %}

  <p>
    DE: Eine Open-Source-Webanwendung zur Anwesenheitserfassung.
    Dient im Infektionsfall zur Kontaktverfolgung in Zeiten der Pandemie:
    <ol>
      <li>
        Teilnehmende Hochschulen 
        <a href="{% url 'room:import' %}">registrieren ihre Räume</a><sup>*</sup>, 
        erhalten für jeden
        Sitzplatz einen QR-Code 
        (<a href="{% url 'room:qrcodes' dummyseat.room.importstep.pk %}">Beispiel</a><sup>*</sup>)
        und kleben diesen auf.
      </li>
      <li>
        Besucher von Räumen scannen ihren QR-Code
        (<a href="{% url 'room:qrcode' dummyseat.hash %}">Beispiel</a><sup>*</sup>), 
        füllen ein Formular mit Kontaktdaten aus 
        (<a href="{% url 'room:visit' dummyseat.hash %}">Beispiel</a><sup>*</sup>)
        und geben dabei die Anwesenheitszeit an.
        <br>
        Diese Daten werden zentral gespeichert, geordnet
        nach Räumen und Zeiten.
      </li>
      <li>
        Im Infektionsfall meldet sich der/die Infizierte bei der Hochschule.
        <br>
        Die Hochschule ruft für die fraglichen Tage die Daten dieser Person ab
        (über <a href="{% url 'room:search' %}">dieses Formular</a><sup>*</sup>)
        und erhält für jeden besuchten Raum die ganze Kontaktgruppe von 
        Personen, die überlappend im gleichen Raum gewesen sind.
      </li>
      <li>
        Die Hochschule gibt diese Daten gemäß ihrer gesetzlichen Verpflichtung
        an das Gesundheitsamt weiter.
      </li>
    </ol>
    <p>
      <sup>*</sup>Diese Beispiellinks gehören zu einem Demonstrationsmodus.
      Sie erzwingen an Stellen, die normalerweise nur
      für die Datenverwalter_innen zugänglich sind, einen Fantasiesitzplatz
      in der Fantasieorganisation '{{ settings.DUMMY_ORG }}'. <br>
      Die Daten, die man so ins Anwesenheitsformular eingibt, 
      sind öffentlich sichtbar und lassen sich über das zugehörige
      Suchformular auch öffentlich abrufen. <br>
      Das wirkliche Anwesenheitsformular erreicht man über das Scannen
      eines QR-Codes, der an einem echten Sitzplatz aufgeklebt ist. <br>
      Das wirkliche Suchformular erreichen nur Datenverwalter_innen mit Passwort.
    </p>
  </p>
  <p>
    EN: An open source web application for people to register their presence.
    Meant to help tracing contacts when someone got infected in pandemic times.
    This contact tracing is required by law.
  </p>
  <p>
    To use it as a visitor, scan the QR code posted at your seat and fill
    in the form shown. Details are explained there.
  </p>
  
{% endblock content %}
