{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  {% crispy form %}
  <hr>
  <p>Importe der letzten 12 Stunden:</p>
  {% if imports.count > 0 %}
    <ol>
      {% for o in imports %}
        <li>
          <a href="{% url "room:qrcodes" o.pk %}">{{ o.when | date:"Y-m-d H:i" }}</a>, 
          {{ o.user.username }}, {{ o.user.name }}<br>
          {{ o.organization }}, {{ o.department }}
          ({{ o.num_new_rooms }}/{{ o.num_new_seats }} neue Räume/Sitzplätze)
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p>KEINE.</p>
  {% endif %}
{% endblock content %}
