{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>Raumdaten einlesen und QR-Codes erzeugen</h1>

  <h2>Für Mitglieder von Hochschuleinheiten</h2>
  
  <ul>
    <li>
      <b>Teilnahme:</b>
      Wenn Sie mit Ihrer Einheit am Verfahren teilnehmen möchten, 
      benötigen Sie QR-Codes für Ihre Räume.<br>
      Sie schicken eine Excel-Datei mit Rauminformationen zu den
      Datenverwalter_innen und bekommen eine PDF-Datei mit QR-Codes zurück. <br>
      Machen Sie am besten eine Excel-Datei pro Gebäude, dann lassen 
      sich die QR-Code-Dateien am besten handhaben.
    </li>
    <li>
      <b>Format:</b> Die <b>Excel-Datei</b> wird nicht von einem Menschen,
      sondern direkt von der Anwendung interpretiert.
      Die Überschriftzeile und die Zellenformate deshalb bitte keinesfalls ändern
      und die nachfolgenden Hinweise genau beachten.<br>
      Beginnen Sie mit dieser Vorlage
      (<a href="{% static "xlsx/roomdata-example.xlsx" %}">Excel-Download</a>).
      Jeder Raum bekommt eine Zeile. 
      Sie sollten am Schluss die beiden Beispielzeilen natürlich löschen.<br>
      Geben Sie die Felder an wie folgt:
      <ul>
      <li>
        <var>organization</var>: Domainname der teilnehmenden Hochschule, z.B.
        <var>fu-berlin.de</var> für die Freie Universität Berlin.  
        Dieser Wert ist in allen Zeilen der Datei gleich.
        Er bezieht sich auf die Hochschule als Ganzes, 
        nicht auf die Hochschuleinheit.
      </li>
      <li>
        <var>department</var>: Intern gebräuchlicher Kurzname der Hochschuleinheit, z.B.
       <var>MathInf</var> für den Fachbereich Mathematik und Informatik.  
       Auch dieser Wert ist in aller Regel in allen Zeilen der Datei gleich.
      </li>
      <li>
        <var>building</var>: Gebäudebezeichnung, meist Straße und Hausnummer, z.B.
       <var>Takustr. 9</var> für das Informatik-Hauptgebäude in der Takustraße 9.  
       Dieser Wert sollte (genau wie alle anderen) nicht zu lang sein,
       da er auf dem QR-Code-Schild mit ausgedruckt wird und dort
       die verfügbare Breite nicht überschreiten sollte.  
       Der Name muss nicht unbedingt exakt zum Straßenschild passen;
       evtl. verkürzte Straßennamen oder weithin bekannte Gebäudenamen bevorzugen.
      </li>
      <li>
        <var>room</var>: Raumbezeichnung. 
        Für Lehre-Räume in der Regel eine Raumnummer, z.B.
        <var>055</var> für den Seminarraum 055 im Erdgeschoss.  
        Dies sollte zur Beschriftung an der Eingangstür des Raums passen.<br/>
        Für Büroräume erklärt man zum "Raum" den ganzen Einzugsbereich eines
        Begegnungsorts (z.B. Flur, Großraumbüro, Küche, Besprechungsraum),
        in dem erfahrungsgemäß machmal längere Kontakte zustande kommen,
        also meist einen Flur, Trakt, Flügel oder eine Etage.
        Hier sind also sinnvolle frei gewählte Bezeichnungen zu vergeben,
        nicht Raumnummern.
      </li>
      <li>
        <var>seat_last</var>: 
        Letzter Sitz, z.B. <var>r2s7</var> für Reihe 2, Sitz 7 in einem
        Raum mit 14 Sitzen in zwei Reihen. Der erste Sitz ist immer </var>r1s1</var>.
        Diese Sitznummern werden auf den QR-Code-Schildern
        gut lesbar mit ausgedruckt. <br/>
        Zum Umgang mit diesem Sitzraster siehe 
        <a href="/faq#sitzplaetze">FAQ 3.2</a>.
      </li>
      <li>
        Alle Zellen der Datei haben das Zellenformat <i>Text</i>.
      </li>  
      </ul>
    </li>
    <li>
      <b>Die fertige Datei</b> schicken Sie an die Datenverwalter_innen 
      unter der Emailadresse
      <a href="mailto:{{ settings.DATA_CONTACT }}">{{ settings.DATA_CONTACT }}</a>.
      Der Betreff sollte mit "QR-Codes für" und dem Namen der Hochschuleinheit beginnen.
    </li>
    <li>
      Wenn alles klappt, kommt sehr bald die entsprechende <b>PDF-Datei</b> 
      mit den QR-Codes per Email an Sie zurück.<br>
      Wenn es Unstimmigkeiten in den Raumdaten gibt, kommt statt dessen eine
      Rückfrage.
    </li>
    <li>
      Wenn mal die <b>Sitzanzahl</b> für einen Raum <b>nicht gestimmt</b> hat, 
      ist das kein Problem: 
      überzählige QR-Codes kann man ohne Schaden für das System
      einfach unaufgeklebt lassen. <br>
      Fehlende QR-Codes kann man nachträglich beschaffen:
      Einfach eine Datei mit der korrigierten Zeile für diesen Raum nochmal
      einreichen. Es werden dadurch keine Daten doppelt erzeugt, die das System
      später durcheinander bringen könnten.
      (Man kann sogar das ganze Gebäude nochmal neu einreichen, falls das
      praktischer ist.)
    </li>
  </ul>
  
  <h2>Für Datenverwalter_innen</h2>
  
  <p>Bitte prüfen Sie zugesandte Raumdaten vor dem Einlesen, insbesondere:</p>
  <ul>
    <li>
      Benutzen <var>organization</var> und <var>department</var>
      die richtigen Schreibweisen?
    </li>
    <li>Gibt es absurde Sitzanzahlen?</li>
    <li>
      Einlesen lassen sich nur Excel-Dateien im korrekten Format,
      siehe oben.
    </li>
  </ul>
  <p>
    Alles OK? Dann lesen Sie die Excel-Datei über das nachfolgende Hochlade-Feld ein,
    drucken Sie die entstehende Seite mit einem PDF-Treiber
    (z.B. Adobe PDF) in eine PDF-Datei (also nicht auf einen Drucker)
    und schicken Sie diese Datei an die einreichende Person zurück.
  </p>


  {% crispy form %}
  <hr>
  <p>Importe der letzten 8 Tage:</p>
  {% if imports|length > 0 %}
    <ol>
      {% for o in imports %}
        <li>
          {{ o.when | date:"Y-m-d H:i" }} durch 
          <i>{{ o.user.username }}</i> ({{ o.user.name }})<br>
          {{ o.organization }}, {{ o.department }}<br>
          {{ o.num_new_rooms }}/{{ o.num_new_seats }} neue Räume/Sitzplätze,
          <a href="{% url "room:qrcodes" o.pk %}">{{ o.num_qrcodes }} QR-Codes</a>
          {% if o.num_qrcodes_moved %}
            ({{ o.num_qrcodes_moved }} sind in jüngeren Import gewandert)
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p>KEINE.</p>
  {% endif %}
{% endblock content %}
