<h1>Information gemäß EU-Datenschutz-Grundverordnung (DSGVO) / 
  Information according to EU General Data Protection Regulation (GDPR)</h1>

<!-- -->
<h2>Zweck und Datennutzung / Purpose and data use</h2>

<p>
  <span class="languagemark">DE:</span> 
  Die Erhebung und Nutzung erfolgt zur Eindämmung der CoViD19-Pandemie.
  Die Daten dienen zur Ermittlung von Kontaktpersonen und dem besseren
  Verständnis des Infektionsgeschehens in der Hochschule.
  Sie werden nur weitergegeben an und genutzt von dem Verantwortlichen
  (siehe unten) und den jeweils zuständigen Gesundheitsämtern.
  Rechtsgrundlage: {{ settings.LEGAL_BASIS_DE|safe }}.
</p>
<p>
  <span class="languagemark">EN:</span>
  Collection and use of this data serve to contain the CoViD19 pandemic.
  The purpose is determining contact persons and understanding better
  when infections occur in the university.
  They will be transmitted to and used by only the controller (see below)
  and the responsible local health authorities.
  Legal basis: {{ settings.LEGAL_BASIS_EN|safe }}.
</p>

<!-- -->
<h2>Verantwortlicher / Controller</h2>

<p>
  <span class="languagemark">DE:</span> 
  Die Daten werden erhoben und gespeichert von: 
  <a href="{{ settings.GDPR_PROCESSOR_URL }}">{{ settings.GDPR_PROCESSOR_NAME }}</a>.
  Kontakt: <a href="mailto:{{ settings.DATA_CONTACT }}">{{ settings.DATA_CONTACT }}</a>.
  <br>
  Verantwortlicher ist {{ room.organization }}, also die Organisation,
  in deren Räumen Sie hier gerade sind.
</p>
<p>
  <span class="languagemark">EN:</span> 
  The data are being processed by 
  <a href="{{ settings.GDPR_PROCESSOR_URL }}">{{ settings.GDPR_PROCESSOR_NAME }}</a>.
  Contact: <a href="mailto:{{ settings.DATA_CONTACT }}">{{ settings.DATA_CONTACT }}</a>.
  <br>
  The data controller is {{ room.organization }}, the organization in whose rooms
  you currently are.
</p>

<!-- -->
<h2>Welche Daten werden wie lange gespeichert? / Which data are stored for how long?</h2>

<p>
  <span class="languagemark">DE:</span> 
  Gespeichert werden 
  a) die Daten, die Sie im Formular unten selbst eingeben,
  b) die Daten, die auf dem QR-Code angegeben sind, den Sie eben gescannt haben
    [also: {{ room.organization }}; {{ room.department }}; {{ room.building }}; 
    {{ room.room }} und Sitzplatz {{ seat.seatname }}],
  c) der Zeitpunkt des Absendens und 
  d) ein Zufallswert.
  <br>
  Die Daten nach a) und d) mit Ausnahme der Uhrzeiten werden zusätzlich auch
  auf Ihrem Gerät in einem Cookie festgehalten, 
  damit Sie die Formulardaten beim nächsten Mal nicht
  alle erneut eingeben müssen.
</p>
<p>
  Die gespeicherten Daten werden {{ settings.DATA_RETENTION_DAYS }} Tage lang
  aufbewahrt und dann automatisch gelöscht.
</p>
<p>
  <span class="languagemark">EN:</span> 
    The following data will be stored:
    a) the data you enter yourself in the form below, 
    b) the data specified on the QR code you just scanned 
    [i.e.: {{ room.organization }}; {{ room.department }}; {{ room.building }}; 
    {{ room.room }} and seat number {{ seat.seatname }}], 
    c) the time of sending and 
    d) a random value. <br>
    The data according to a) and d) with the exception of the times 
    will also be saved in a cookie on your device 
    so that you need not enter those form data again next time.
</p>
<p>
  The stored data is kept for {{ settings.DATA_RETENTION_DAYS }} days 
  and then automatically deleted. 
</p>

<!-- -->
<h2>Sonstiges / Further detail</h2>

<p>
  <span class="languagemark">DE:</span> 
  Für weitere Einzelheiten siehe die
  {{ settings.PRIVACYINFO_DE|safe }}.
</p>
<p>
  <span class="languagemark">EN:</span> 
  For further details, please refer to the 
  {{ settings.PRIVACYINFO_EN|safe }}.
</p>
