<h1>Information gemäß EU-Datenschutz-Grundverordnung (DSGVO) / 
  Information according to EU General Data Protection Regulartion (GDPR)</h1>

<!-------------------------------------------------------->
<h2>Zweck und Datennutzung / Purpose and data use</h2>

<p>
  <span class="languagemark">DE:</span> 
  Die Erhebung und Nutzung erfolgt zur Eindämmung der CoViD19-Pandemie.
  Die Daten dienen zur Ermittlung von Kontaktpersonen und dem besseren
  Verständnis des Infektionsgeschehens.
  Sie werden nur weitergegeben an und genutzt von dem Verantwortlichen
  (siehe unten) und den jeweils zuständigen Gesundheitsämtern.
  <!-- ADAPT -->
  Rechtsgrundlage sind 
  §2 Absatz 2 und §3 der 
  <a href="https://www.berlin.de/corona/massnahmen/verordnung/"
  >SARS-CoV-2-Infektionsschutzverordnung Berlin</a>.
  <!-- END ADAPT -->
</p>
<p>
  
</p>
<p>
  
</p>
<p>
  <span class="languagemark">EN:</span> 
  (TODO)
  <!-- ADAPT -->
  <!-- END ADAPT -->
</p>
<p>
  
</p>
<p>
  
</p>

<!-------------------------------------------------------->
<h2>Verantwortlicher / Controller</h2>

<p>
  <span class="languagemark">DE:</span> 
  <!-- ADAPT -->
  Die Daten werden erhoben und gespeichert von der 
  <a href="https://www.fu-berlin.de/redaktion/impressum/index.html">Freien Universität Berlin</a>.
  Kontakt: <a href="mailto:{{ settings.DATA_CONTACT }}">{{ settings.DATA_CONTACT }}</a>.
  <!-- END ADAPT -->
  <br>
  Verantwortlicher ist {{ room.organization }}, also die Organisation,
  in deren Räumen wir hier gerade sind.
</p>
<p>
  
</p>
<p>
  
</p>
<p>
  <span class="languagemark">EN:</span> 
  <!-- ADAPT -->
  <!-- END ADAPT -->
  (TODO)
</p>
<p>
  
</p>
<p>
  
</p>


<!-------------------------------------------------------->
<h2>Welche Daten werden wie lange gespeichert? / Which data are stored for how long?</h2>

<p>
  <span class="languagemark">DE:</span> 
  Gespeichert werden a) die Daten, die Sie im Formular unten selbst eingeben,
  b) die Daten, die auf dem QR-Code angegeben sind, den Sie eben gescannt haben,
  c) der Zeitpunkt des Absendens und 
  d) ein Zufallswert.
  <br>
  Die Daten nach a) und d) mit Ausnahme der Uhrzeiten werden zusätzlich auch
  auf ihrem Gerät in einem Cookie gespeichert, 
  damit Sie die Formulardaten beim nächsten Mal nicht
  alle erneut eingeben müssen.
</p>
<p>
  Die gespeicherten Daten werden {{ settings.DATA_RETENTION_DAYS }} Tage lang
  aufbewahrt und dann automatisch gelöscht.
</p>
<p>
  
</p>
<p>
  <span class="languagemark">EN:</span> 
  (TODO)
  <!-- ADAPT -->
  <!-- END ADAPT -->
</p>
<p>
  
</p>
<p>
  
</p>


<!-------------------------------------------------------->
<h2>Sonstiges / Other</h2>

<p>
  <span class="languagemark">DE:</span> 
  <!-- ADAPT -->
  <!-- END ADAPT -->
</p>
<p>
  
</p>
<p>
  
</p>
<p>
  <span class="languagemark">EN:</span> 
  (TODO)
  <!-- ADAPT -->
  <!-- END ADAPT -->
</p>
<p>
  
</p>
<p>
  
</p>


