{% extends "base.html" %}

{% block content %}
  <p>{{ settings.SHORTURL_PREFIX }}{% url 'room:qrcodes' object.pk %}</p>
  <p>
    Dieser Importschritt hat
    {{ object.num_new_rooms }} 
    {{ object.num_new_rooms|pluralize:"neuen Raum,neue Räume" }} und
    {{ object.num_new_seats }}
    {{ object.num_new_seats|pluralize:"neuen Sitzplatz,neue Sitzplätze" }}
    erzeugt.
    {% if object.num_existing_seats %}
      In der Liste der QR-Codes unten finden sich außerdem
      {{ object.num_existing_rooms }} schon vorher 
      vorhanden{{ object.num_existing_rooms|pluralize:"er Raum,e Räume" }}
      und 
      {{ object.num_existing_seats }} schon vorher
      vorhanden{{ object.num_existing_seats|pluralize:"er Sitzplatz,e Sitzplätze" }}.
    {% endif %}
  </p>
  <hr>
    {% for seat in seats %}
      <div class="row align-items-center">
        <div>
          <img class="qrcode" src="{% url 'room:qrcode' seat.hash %}" aria-roledescription="QR Code">
        </div>
        <div style="padding-left: 1pc;" aria-roledescription="QR Code Information">
		  <h4>HTWG Konstanz - Anwesenheitserfassung</h4>
		  <p>Bitte scannen Sie den QR-Code und erfassen Sie Ihre Anwesenheit.</p>
		  <h5>Raum: {{seat.room.room}}</h5>
		  <p>{{ settings.SHORTURL_PREFIX }}{% url 'room:visit' seat.hash %}</p>
        </div>
      </div>
    {% endfor %}
{% endblock content %}
