{% extends "base.html" %}

{% block content %}
  <p>QR-Codes der Abteilung {{ object.department }}</p>
  <hr>
    {% for seat in seats %}
      <div class="row align-items-center">
        <div>
          <img class="qrcode" src="{% url 'room:qrcode' seat.hash %}" aria-roledescription="QR Code">
        </div>
        <div style="padding-left: 1pc;" aria-roledescription="QR Code Information">
          <h4>HTWG Konstanz - Anwesenheitserfassung</h4>
          <p>Bitte scannen Sie den QR-Code und erfassen Sie Ihre Anwesenheit.</p>
          <h5>Raum: {{seat.room.room}}</h5>
          <p>{{ settings.SHORTURL_PREFIX }}{% url 'room:visit' seat.hash %}</p>
        </div>
      </div>
    {% endfor %}
{% endblock content %}
