{% extends "base.html" %}

{% block content %}
  <p>{{ settings.SHORTURL_PREFIX }}{% url 'room:qrcodes' object.pk %}</p>
  <p>
    Dieser Importschritt hat
    {{ object.num_new_rooms }} 
    {{ object.num_new_rooms|pluralize:"neuen Raum,neue Räume" }} und
    {{ object.num_new_seats }}
    {{ object.num_new_seats|pluralize:"neuen Sitzplatz,neue Sitzplätze" }}
    erzeugt.
    {% if object.num_existing_seats %}
      In der Liste der QR-Codes unten finden sich außerdem
      {{ object.num_existing_rooms }} schon vorher 
      vorhanden{{ object.num_existing_rooms|pluralize:"er Raum,e Räume" }}
      und 
      {{ object.num_existing_seats }} schon vorher
      vorhanden{{ object.num_existing_seats|pluralize:"er Sitzplatz,e Sitzplätze" }}.
    {% endif %}
  </p>
  <hr>
    {% for seat in seats %}
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-6 col-xs-12 col-md-7 col-lg-5">
          <img class="qrcode" src="{% url 'room:qrcode' seat.hash %}" aria-roledescription="QR Code">
        </div>
        <div class="col-sm-6 col-xs-12 col-md-5 col-lg-5" aria-roledescription="QR Code Information">
          <span class="qrb-item">Please scan QR code and register your presence.</span>
          <br>
          <span class="qrb-item">{{ settings.SHORTURL_PREFIX }}{% url 'room:visit' seat.hash %}</span>
          <br>
          <span class="qrb-label">date: </span>
          <span class="qrb-item">{{seat.room.importstep.when | date:"Y-m-d"}}</span>
          <br>
          <span class="qrb-label">organization: </span>
          <span class="qrb-item">{{seat.room.organization}}</span>
          <br>
          <span class="qrb-label">department: </span>
          <span class="qrb-item">{{seat.room.department}}</span>
          <br>
          <span class="qrb-label">building: </span>
          <span class="qrb-item">{{seat.room.building}}</span>
          <br>
          <span class="qrb-label">room: </span>
          <span class="qrb-markeditem">{{seat.room.room}}</span>
          <br>
          <span class="qrb-label"> </span>
          <span class="qrb-largeitem">{{seat.seatname}}</span>
        </div>
      </div>
    </div>


    {% endfor %}
  </table>
{% endblock content %}
