{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>Suche nach Besuchen von Personen</h1>
  <ol>
    <li>
      Beschreiben Sie die gewünschte Person mit dem Formular unten und
      geben Sie einen passenden Zeitraum an.
      Alle Kriterien müssen zugleich erfüllt sein, damit sie zutreffen.
    </li>
    <li>
      Prüfen Sie das Suchergebnis. Zu viele Treffer?
      Dann schärfere Kriterien benutzen.
      Am besten eignet sich normalerweise die Emailadresse.
    </li>
    <li>
      Wenn die Trefferliste passend aussieht, mit Knopf Nummer 2
      die Liste der Kontakte ansehen und auf Plausibilität prüfen. <br>
      Wenn die auch in Ordnung ist, mit Knopf 3 die Liste als Excel herunterladen.
    </li>
  </ol>
  <p>
    Im Formular unten steht das Prozentzeichen % für Teile, die
    egal oder unbekannt sind.
  </p>
  {% crispy form %}
  
  {% if display_switch == 'invalid' %}
    <!-- form is invalid, no results to be shown -->
  {% elif display_switch == 'too_many_results' %}
      <h2>{{ NUMRESULTS }} results</h2>
      <p>
        Will show at most {{ LIMIT }} results. 
        Please use more specific search criteria.
      </p>
  {% elif display_switch == 'visit' or display_switch == 'visitgroup' %}
      <p>{{ visits.count }} Treffer</p>
      <ol class="searchhits">
        {% for v in visits %}
          {% if v is None %}
            <li>-- next group: --</li>      
          {% else %}
            <li>
              <b>{{ v.familyname }}, {{ v.givenname }}</b>,
              {{ v.phone }}/{{ v.email }} 
                ({{ v.zipcode }} {{ v.town }})<br>
              {{ v.present_from_dt|date:"Y-m-d" }}
                {{ v.present_from_dt|date:"H:i" }}&ndash;{{ v.present_to_dt|date:"H:i" }} @
                {{ v.seat.room.room }}, {{ v.seat.room.building }}, 
                {{ v.seat.room.department }}, {{ v.seat.room.organization }}
                
            </li>  
          {% endif %}
        {% endfor %}
      </ol>
  {% else %}
    <p>Something is wrong! (display_switch {{ display_switch }})</p>
  {% endif %}
{% endblock content %}
