{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>Search for visits</h1>
  <ol>
    <li>
      Describe the person you are looking for in the form below
      and indicate a time range.
    </li>
    <li>
      Check the search result: Have you found more people than intended?
      Then refine the search criteria.
    </li>
    <li>
      When done, download the contact list with the link at the bottom.
    </li>
  </ol>
  <p>
    In the form, use the percent sign % to represent any part you are
    not sure of or do not care about.
  </p>
  {% crispy form %}
  
  {% if display_switch == 'invalid' %}
    <!-- form is invalid, no results to be shown -->
  {% elif display_switch == 'too_many_results' %}
      <h2>{{ NUMRESULTS }} results</h2>
      <p>
        Will show at most {{ LIMIT }} results. 
        Please use more specific search criteria.
      </p>
  {% elif display_switch == 'visit' or display_switch == 'visitgroup' %}
      <p>Found {{ visits.count }} results</p>
      <ol>
        {% for v in visits %}
          {% if v is None %}
            <li>-- next group: --</li>      
          {% else %}
            <li>
              <b>{{ v.familyname }}</b>, {{ v.givenname }},
              {{ v.phone }}/<b>{{ v.email }}</b> 
                ({{ v.zipcode }} {{ v.town }})<br>
              {{ v.seat.room.organization }}, {{ v.seat.room.department }}
                ({{ v.seat.room.building }}, {{ v.seat.room.room }})
            </li>  
          {% endif %}
        {% endfor %}
      </ol>
  {% else %}
    <p>Something is wrong! (display_switch {{ display_switch }})</p>
  {% endif %}
{% endblock content %}
