{% extends "base.html" %}

{% block content %}
  <h1>Bericht: Besuche nach Deparment</h1>
  <p>
    Aktueller Raumbestand (#Rooms, #Seats) und 
    Gesamtanzahl der Besuche in der Datenbank 
    (#Visits, Zeitraum: {{ settings.DATA_RETENTION_DAYS }} Tage) 
  </p>
  <table class="table table-sm table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Organization</th>
        <th scope="col">Department</th>
        <th scope="col">#Rooms</th>
        <th scope="col">#Seats</th>
        <th scope="col">#Visits</th>
      </tr>
    </thead>
    <tbody>
    {% for stat in stats %}
      <tr>
        <td>{{ stat.organization }}</td>
        <td>{{ stat.department }}</td>
        <td>{{ stat.rooms }}</td>
        <td>{{ stat.seats }}</td>
        <td>{{ stat.visits }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p><a href="/">Zurück</a></p>
{% endblock content %}
