services:
  - "postgres:12.3"

variables:
  POSTGRES_HOST: postgres
  POSTGRES_PORT: 5432
  POSTGRES_DB: anwesende
  POSTGRES_USER: anwesende
  POSTGRES_PASSWORD: anwesende

stages:
  - test

pytest:
  stage: test
  image: python:3.8
  before_script:
    - pip install -r requirements/local.txt
  script:
    - mypy anwesende
    - pytest
