StringGenerator   # https://pypi.org/project/StringGenerator 
WSGIProxy2  # 
Werkzeug # https://github.com/pallets/werkzeug
argon2-cffi  # https://github.com/hynek/argon2_cffi
arrow  # https://arrow.readthedocs.io/en/latest/
black  # https://github.com/ambv/black
coverage  # https://github.com/nedbat/coveragepy
django-allauth  # https://github.com/pennersr/django-allauth
django-coverage-plugin  # https://github.com/nedbat/django_coverage_plugin
django-crispy-forms  # https://github.com/django-crispy-forms/django-crispy-forms
django-debug-toolbar  # https://github.com/jazzband/django-debug-toolbar
django-environ  # https://github.com/joke2k/django-environ
django-extensions  # https://github.com/django-extensions/django-extensions
django-model-utils  # https://github.com/jazzband/django-model-utils
django-stubs  # https://github.com/typeddjango/django-stubs
django-test-migrations  # https://github.com/wemake-services/django-test-migrations
django-vanilla-views
django-webtest  # https://github.com/django-webtest/django-webtest
django<3.3  # https://www.djangoproject.com/
factory-boy<3.1  # https://github.com/FactoryBoy/factory_boy  ##Faker.generate() was removed
flake8-isort  # https://github.com/gforcada/flake8-isort
flake8  # https://github.com/PyCQA/flake8
gunicorn  # https://github.com/benoitc/gunicorn
ipdb  # https://github.com/gotcha/ipdb
mypy  # https://github.com/python/mypy
openpyxl  # https://openpyxl.readthedocs.io
pip-tools
pre-commit  # https://github.com/pre-commit/pre-commit
psycopg2-binary<2.9  # https://github.com/psycopg/psycopg2  ##2.9 has UTC problem in Django 3.0
pylint-django  # https://github.com/PyCQA/pylint-django
pytest-cov  # https://github.com/pytest-dev/pytest-cov
pytest-django  # https://github.com/pytest-dev/pytest-django
pytest-freezegun  # https://github.com/ktosiek/pytest-freezegun
pytest-sugar  # https://github.com/Frozenball/pytest-sugar
pytest  # https://github.com/pytest-dev/pytest
python-slugify  # https://github.com/un33k/python-slugify
pytz  # https://github.com/stub42/pytz
segno  # https://segno.readthedocs.io
whitenoise  # https://github.com/evansd/whitenoise
