.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.endfloat {
  clear: both;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

a:link {
  color: #99CC00;
  filter: brightness(70%);
}

a:visited {
  color: #99CC00;
  filter: brightness(50%);
}

.bg-light {
  background-color: #99CC00 !important;
}

.languagemark {
  color: #cc0000;
  font-weight: bold;
}

.qrb-label {
  color: #222222;
  font-size: 100%;
}

.qrb-item {
  color: black;
  font-size: 120%;
}

.qrb-markeditem {
  color: black;
  font-size: 120%;
  font-weight: bold;
}

.qrb-largeitem {
  color: black;
  font-size: 300%;
  font-weight: bold;
}

.qrblock {
  padding-top: 2ex;
  width: 300mm;
}

.qrcode {
  width: 100mm;
  max-width: 100%;
}

sup {
  font-weight: 700;
  color: #cc0000;
}

var {
  font-weight: 500;
}